::-webkit-scrollbar {
  display: none;
  width: 0 !important;
  height: 0 !important;
  background: transparent;
  -webkit-appearance: none;
}

html {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  -webkit-touch-callout: none;
}

.van-image {
  display: flex;

  &[class*=rounded] {
    overflow: hidden;
  }
}

.van-divider {
  margin: 0;
}
