.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sticky-top {
  position: sticky!important;
  top: 0;
}

.sticky-bottom {
  position: sticky!important;
  bottom: 0;
}

.fixed-bottom {
  position: fixed!important;
  left: 0;
  right: 0;
  bottom: 0;
}

.times-symbol::before {
  margin-right: 2px;
  content: "\00D7";
}

.overflow-auto {
  -webkit-overflow-scrolling: touch;
}
