.vc-list {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  .van-pull-refresh {
    flex: 1;
    overflow: initial;
  }
}
